.footer {
    background: radial-gradient(circle, #007bff, #0056b3); 
    color: white; 
    padding: 1rem; 
    margin-top: 0;
}

.navbar-home {
    background: radial-gradient(circle, #007bff, #0056b3); 
    color: white; 
    padding: 1rem; 
    margin-top: 0;
}

.navbar {
        padding: 0.5rem; 
    }
.navbar-brand, .navbar-nav .nav-link {
        padding: 0.25rem 0.5rem; 
    }

.image-container {
    position: relative;
    width: 100%;
    height: auto; /* O ajusta a una altura específica si es necesario */
}

.image-container img {
    width: 100%;
    height: auto; /* Mantiene la relación de aspecto */
}

.overlay {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior */
    right: 10px; /* Ajusta la distancia desde la derecha */
    color: white; /* Cambia el color del texto según tu preferencia */
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 10px; /* Espacio alrededor del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad */
    border-radius: 5px; /* Bordes redondeados */
}